
.svg_xt{
    background: none;
}
.svg_x2{
    fill: red;
}


/*__________________________________________________________________________________________*/
/* branch */
.s01{
    fill: blue;
}
/*__________________________________________________________________________________________*/
/* petal */
.s02{
    fill: aqua;
}
/* petal */
.s03{
    fill: blueviolet;
}
/* support */
.s04{
    fill: chartreuse;
}
/*__________________________________________________________________________________________*/
/* petal */
.s05{
    fill: black;
}
/* petal */
.s06{
    fill: brown;
}
/* petal */
.s07{
    fill: chocolate;
}
/* support */
.s08{
    fill: crimson;
}
/*__________________________________________________________________________________________*/
/* palitos */
.s09,
.s10,
.s11,
.s12,
.s13{
    fill: purple;
}
/* petals */
.s14,
.s15,
.s16,
.s17,
.s18{
    fill: salmon;
}
/*__________________________________________________________________________________________*/
/* palitos */
.s19,
.s20,
.s21,
.s22,
.s23{
    fill: purple;
}
/* petals */
.s24,
.s25,
.s26,
.s27,
.s28{
    fill: black;
    fill-opacity: 0.3;

}
/*__________________________________________________________________________________________*/
/* palitos */
.s29,
.s30,
.s31,
.s32,
.s33{
    fill: navy;
}
/* petals */
.s34,
.s35,
.s36,
.s37,
.s38{
    fill: lightcoral;
    fill-opacity: 0.9;

}
/*__________________________________________________________________________________________*/

/*__________________________________________________________________________________________*/

