/*Google Fonts @import url*/
/*__________________________________________________________________________________________*/
/*:root variables*/
:root{
    /*Colors*/
    --color-base-red: #A02C2B;
    --color-base-blue: #2F2F49;
    --color-base-cream1: #e7dfd4;
    --color-base-cream2: #e6ded3;
    --color-base-white: #FFFFFF;
    --color-base-black: #000000;
    /*Spacing*/
    --genaral-gap: 15px;
    --general-margin: 15px;
    --general-padding: 15px;
    --general-border-radius: 6px;
}
/*__________________________________________________________________________________________*/
/*Basic layout style*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}
html{
    font-size: 62.5%;
    height: 100%;
}
/*__________________________________________________________________________________________*/
/*Whole Background gradient*/
html,
body{
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, var(--color-base-cream1) 0%, var(--color-base-cream2) 100%);
}
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
.svg_xt01{
    background: none;
    position: fixed;
    top: 0px;
    left: -8px;
    width: 200px;
    height: auto;
}
.svg_xt02{
    background: none;
    position: fixed;
    bottom: 0px;
    right: -50px;
    width: 200px;
    height: auto;
    rotate: 240deg;
}
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/* branch */
.s01{
    fill: #462413;
}
/*__________________________________________________________________________________________*/
/* petal */
.s02{
    fill: #ec2861;
}
/* petal */
.s03{
    fill: #f25477;
}
/* support */
.s04{
    fill: #999D55;
}
/*__________________________________________________________________________________________*/
/* petal */
.s05{
    fill: #f25477;
}
/* petal */
.s06{
    fill: #ec2861;
}
/* petal */
.s07{
    fill: #eb7a7a;
}
/* support */
.s08{
    fill: #999D55;
}
/*__________________________________________________________________________________________*/
/* palitos */
.s09,
.s10,
.s11,
.s12,
.s13{
    fill: rgb(218, 214, 0);
    fill-opacity: 1.0;
}
/* petals */
.s14,
.s15,
.s16,
.s17,
.s18{
    fill: #ec2861;
    fill-opacity: 1.0;
}
/*__________________________________________________________________________________________*/
/* palitos */
.s19,
.s20,
.s21,
.s22,
.s23{
    fill: rgb(218, 214, 0);
    fill-opacity: 1.0;
}
/* petals */
.s24,
.s25,
.s26,
.s27,
.s28{
    fill: #ec2861;
    fill-opacity: 1.0;

}
/*__________________________________________________________________________________________*/
/* palitos */
.s29,
.s30,
.s31,
.s32,
.s33{
    fill: rgb(218, 214, 0);
    fill-opacity: 1.0;
}
/* petals */
.s34,
.s35,
.s36,
.s37,
.s38{
    fill: #ec2861;
    fill-opacity: 1.0;

}
/*__________________________________________________________________________________________*/
/*
.s10,
.s12,
.s20,
.s22,
.s30,
.s32{
    fill: rgb(127, 182, 0);
    fill-opacity: 1.0;
}
*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
.sakura01{
    transform-origin: 50% 50%; /* Center of the group's bounding box */
    animation: slight-rotate-01 4s infinite ease-in-out;
}
.sakura02{
    transform-origin: 50% 50%; /* Center of the group's bounding box */
    animation: slight-rotate-02 6s infinite ease-in-out;
}
.sakura03 {
  transform-origin: 50% 50%; /* Center of the group's bounding box */
  animation: slight-rotate-03 8s infinite ease-in-out;
}
@keyframes slight-rotate-01 {
  0% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}
@keyframes slight-rotate-02 {
  0% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}
@keyframes slight-rotate-03 {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*Actual content*/
header,
main, 
footer{
    position: relative;
    z-index: 10;
}
/*__________________________________________________________________________________________*/
/*
header{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#XV{
    margin: var(--general-margin);
    width: 100%;
    text-align: center;
    color: var(--color-base-red);
    font-weight: bolder;
    font-size: 6rem;
}
#names{
    margin: var(--general-margin);
    width: 100%;
    text-align: center;
    color: var(--color-base-blue);
    font-weight: bolder;
    font-size: 4rem;
}
*/
/*__________________________________________________________________________________________*/
body {
      /*background: #000;*/
      background: none;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #444;*/
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*__________________________________________________________________________________________*/
/* Front */
#s01{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: var(--general-padding);
}
#s01x{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--general-border-radius);
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

















/*
*{
    border: 1px solid coral;
}
*/